@use "/src/sass/base/variables.scss" as *;

.activities {
    padding-top: 60px;
    &__wrapper {
        margin-top: 20px;
        row-gap: 40px;
    }
    &__img {
        margin-top: 40px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
    &__text {
        margin-top: 20px;
        color: $Dark;
        font-size: 16px;
        font-weight: 400;
        &_colored {
            color: $Ceramic;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
